<a href="https://colab.research.google.com/github/jenna0315/python/blob/main/ISM4641_Week01_Submission.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Variable Assignment and Data Types
### Directions:
* Create a variable named company and assign it the string value “Acme Corporation”.
* Create a variable named founded_year and assign it the integer value 1945.
* Create a variable named revenue and assign it the float value 35.6.
* Create a variable names publicly_traded andassign it the boolean value True.
* Print the value of each variable, followed by its data type.

In [1]:
company= "Acme Corporation"
founded_year=1945
revenue=35.6
publicly_traded=True

print("Company =", \
    company, \
      ": Data Type =", \
    type(company))
print("Founded Year =", \
      founded_year, \
      ": Data Type =", \
    type(founded_year))
print("Revenue =", \
      revenue, \
      ": Data Type =", \
    type(revenue))
print("Publicly Traded is", \
      publicly_traded, \
      ": Data Type =", \
    type(publicly_traded))

Company = Acme Corporation : Data Type = <class 'str'>
Founded Year = 1945 : Data Type = <class 'int'>
Revenue = 35.6 : Data Type = <class 'float'>
Publicly Traded is True : Data Type = <class 'bool'>

# 2. Data Type
### Directions:
* What is the data type of the variable price in the following code?

```python
print(product = "Laptop"
price = 999.99)
```
* Write code to print the data type of price

In [ ]:
product="laptop"
price=999.99
print("Price", \
      price, \
      ": Data Type =", \
    type(price))

Price 999.99 : Data Type = <class 'float'>

# 3. Integer Operations
### Directions:
You have a budget of 1000 and want to buy as many $45 monitors as you can.
* Use integer division (//) to calculate how many monitors you can buy and print the result.
* Then calculate how much change you will have left over, using the modulo (%) operator.

In [ ]:
budget=1000
monitor_price=45

print("I can purchase", \
    (budget//monitor_price), "monitors")

leftover_change=(budget%monitor_price)

print("I will have $", \
      leftover_change, "remaining")

I can purchase 22 monitors
I will have $ 10 remaining

# 4. Float Operations
### Directions:
* Calculate the total revenue from selling 150 units of a product priced at $49.99 per unit.
* Print the result

In [ ]:
number_of_units=150
unit_price=49.99
total_revenue=(number_of_units*unit_price)
print("Total Revenue $", \
      total_revenue)

Total Revenue $ 7498.5

# 5. String Concatenation
### Directions:
1. Create three string variables:
* product with the value “Smartphone”
* model with the value “X”
* year with the value “2023”

2. Concatenate them to create a new variable product_info that contains the string “Smart-Phone Model X (2023)”.

3. Print product_info.

In [ ]:
product="Smart-Phone"
model="X"
year="2023"

product_info= product + " Model " + model + " (" + year +")"
print(product_info)

Smart-Phone Model X (2023)

# 6. Comparison Operators
### Directions
A customer is eligible for free shipping if their order total is greater than or equal to $50.
* Create two variables: order_total (assign a value of your choice) and free_shipping_threshold (50).
* Use a comparison operator to check if the customer is eligible for free shipping and store the result (True or False) in a variable called is_eligible. Print is_eligible.

In [ ]:
order_total=200
free_shipping_threshold=50

is_eligible=(order_total>=free_shipping_threshold)
print("Eligible for free shipping?",is_eligible)

Eligible for free shipping? True

# 7. Logical AND Operator
* A company is offering a special discount to customers who are both loyalty members and have made a purchase in the last 7 days.
* Create three variables:
1. is_member (True or False)
2. days_since_purchase (an integer)
3. discount_threshold (7).
* Use logical operators to determine if a customer qualifies for the discount.
* Store the result in a variable called qualifies_for_discount.
* Print qualifies_for_discount

In [ ]:
is_member=True
days_since_purchase=6
discount_threshold=7

qualifies_for_discount=(is_member and (days_since_purchase<=discount_threshold))
print("Qualifies for discount?",qualifies_for_discount)

Qualifies for discount? True

# 8. Logical OR Operator
You are developing a feature for a website that allows users to sign in with either their email address or their phone number.
* Create three variables:
1. email (a string, can be empty or contain
an email)
2. phone (a string, can be empty or contain a phone number)
3. sign_in_allowed(Boolean).
* Use the logical or operator to set sign_in_allowed to True if either email or phone is not empty, and False otherwise.
* Print sign_in_allowed.

In [ ]:
email=""
phone=""
sign_in_allowed=bool(email or phone)
print("Sign in allowed?",sign_in_allowed)

Sign in allowed? False

9. Logical NOT Operator
A store is closed on Sundays.
* Create a variable day and assign it the string “Sunday”.
* Use the logical not operator to determine if the store is open today.
* Store the result in a variable called is_open.
* Print is_open

In [ ]:
day="Sunday"
is_open=not(day=="Sunday")
print("Is the store open today?",is_open)

Is the store open today? False

# 10. Exponentiation
A company’s revenue has been growing at a rate of approximately 10% per year. If the initial revenue in year 1 is $1 million
* calculate the projected revenue after 5 years using
exponentiation.
* Print the projected revenue.

In [ ]:
intial_revenue=1000000
growth_rate=0.1
years=5
projected_revenue=intial_revenue*(1.0+growth_rate)**years
print("Projected Revenue $",projected_revenue)
print("Rounded Projected Revenue $",int(projected_revenue))

Projected Revenue $ 1610510.0000000005
Rounded Projected Revenue $ 1610510

# 11. Modulo Operator for Even/Odd
Use the modulo operator to determine if a given number is even or odd.
* Create a variable number (assign an integer value), and then use an if statement along with the modulo operator to print “Even” if the number is even and “Odd” if its odd

In [ ]:
variable_number=101
if variable_number%2==0:
    print("Even")
else:
    print("Odd")

Odd

# 12. Type Conversion (String to Integer)
* You have a string variable quantity_str = "12", representing the quantity of an item ordered.
* Convert this string to an integer and store it in a variable called quantity_int.
* Calculate the total cost if the price per item is $25 and print the result.

In [ ]:
quantity_str="12"
quantity_int=int(quantity_str)
price_per_item=25
total_cost=quantity_int*price_per_item
print("Total Cost $",total_cost)

Total Cost $ 300

# 13. Type Conversion (Integer to String)
You need to generate a report that includes a product ID and the year it was launched. You have the product ID as an integer product_id = 456 and the year as an integer launch_year = 2022.
* Convert both integers to strings and concatenate them to create a single string like this: “ProductID-LaunchYear” (e.g., “456-2022”).
* Store the result in a variable called report_string and print it

In [ ]:
product_id=456
launch_year=2022
report_string=(str(product_id))+("-")+(str(launch_year))
print("Report:",report_string)

Report: 456-2022

# 14. Type Conversion (Float to Integer)
A customers shopping cart total is stored as a float: cart_total = 157.85. For a special promotion, you need to round down this total to the nearest whole number to determine a discount amount.
* Convert cart_total to an integer using int() and store it in a new variable
discount_amount.
* Print the value of discount_amount

In [ ]:
cart_total=157.85
discount_amount=int(cart_total)
print("Discount Amount",discount_amount)

Discount Amount 157

# 15. Valid Variable Names
* Explain why the following variable names are invalid in Python:
1. total%
2. sales-2023
3. 2ndOrder

* Suggest valid alternatives for each invalid name and explain why your alternatives are valid


1. total% is an invalid variable name because it uses a python key word/ symbol %
 * Alternative: total_percentage
 * total_percentage is valid because it is all lowercase, begins with a letter, is separated by an underscore and avoids python key words and symbols.

2. sales-2023 is an invalid vaiable name because it uses a dash instead of an understore to separate values
 * Alternative: sales_2023
 * sales_2023 is valid because it is all lowercase, begins with a letter, and is separated by an underscore without using invalid characters such as "-"

3. 2ndOrder is an invalid variable name because it does not start with a letter or underscore and is not in snake case.
 * Alternative: second_order
 * second_order is valid because it is all lowercase, begins with a letter and is separated by an underscore.